# ESP32-S3-spezifisch: maximaler Durchsatz

# CPU auf 240 MHz
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Watchdogs während Benchmarks deaktivieren
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT_EN=n

# IRAM-Optimierung für lwIP
CONFIG_LWIP_IRAM_OPTIMIZATION=y
